
.vs/

x64/

.vscode/

GDP2019_20/assets/colliderShip.xlsx

~$ReadMe.docx

GDP2019_20/assets/models/Stardestroyer_xyz_n_uv.ply

ReadMe.docx

GDP2019_20/assets/textures/xwing.bmp

graphics_show.mp4

GDP2019_20/assets/modelsFBX/

GDP2019_20/assets/models/Abrams.ply

GDP2019_20/assets/models/E75.ply

GDP2019_20/assets/models/E752.ply

GDP2019_20/assets/models/Leopard.ply

GDP2019_20/assets/models/SpaceStation.ply

GDP2019_20/assets/models/Stardestroyer.ply

GDP2019_20/assets/models/T14.ply

GDP2019_20/assets/models/TieInterceptorUV.ply

*.mp4

*.mp4

*.7z
