
.vs/

x64/

.vscode/

GDP2019_20/assets/colliderShip.xlsx

~$ReadMe.docx

GDP2019_20/assets/models/Stardestroyer_xyz_n_uv.ply

ReadMe.docx

GDP2019_20/assets/textures/xwing.bmp

graphics_show.mp4

GDP2019_20/assets/modelsFBX/

*.mp4

*.7z
